.contact {

  border: solid 1px black;
  max-width: 800px;
  position: relative;
  display: flex;
  flex-direction: column;

}

.contact label{
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 10px;
		margin-bottom: 0;
	}

.contact input{
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 5px;
		margin-bottom: 10px;
		height: 2.5em;
	}
	
.submit {
	border:none;
	text-decoration:none;
	background-color:#04495B;
	color: white;
}
.submit:hover{
background-color:#125B5F;
}
